body {
    background-color: rgb(207, 140, 16);
  }

  #title{
      text-align: center;


  }
  h1{
      text-decoration: orange;
      margin: 50px;
      font-style: italic;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 900;
  }

  #devouerdBurgersList{
      background-color: palegoldenrod;
      margin: 0em;
      padding: 15px;
      font-style: oblique;
  }
  #undevouerdBurgersList{
    padding: 15px;
    
    font-style: oblique;
    font-size: x-large;
    margin-left: 0px;
  }
 #addBurger, #devourButton{

    margin-inline-end: 0em;
    background-color: palegoldenrod;
    color: black;
  }

  .formGroup{
      text-align: center;
      margin: 50px;
  }